pkgbase = android-rebuilds-platform-bin
	pkgdesc = Android SDK Platform, latest API
	pkgver = 30_r03
	pkgrel = 1
	url = https://android-rebuilds.beuc.net/
	arch = any
	license = custom
	provides = android-platform
	provides = android-platform-30
	conflicts = android-platform-30
	options = !strip
	source = https://android-rebuilds.beuc.net/dl/repository/sdk-repo-linux-platforms-eng.11.0.0_r27.zip
	source = https://android-rebuilds.beuc.net/dl/repository/repository-11.0.0_r27.xml
	sha1sums = e1edf347d3a19c54f0a2f84f0bf6a1ad16089e18
	sha1sums = d69d96c0384b6682090bc22a70a1fec4cfe5c43c
	sha384sums = 1f64baec7e46b5cef3198df5c760f3bb623286330362e6c2fdb07c395f27fadfdfb0c2871d5a67777c29e3c938dff032
	sha384sums = a4d09072476b85379c243d97a0b4add9c1c581f94dc6004729174382824ff76641c1d22a586c539e3f81235896dafd0a

pkgname = android-rebuilds-platform-bin
	depends = android-sdk
	depends = android-sdk-platform-tools

